services:
  cloudflared:
    image: {{ cloudflared_image }}
    container_name: {{ cloudflared_container_name }}
    restart: {{ cloudflared_restart_policy }}
    network_mode: {{ cloudflared_network_mode }}
    command: tunnel --no-autoupdate --url {{ cloudflared_origin_url | quote }} --http-host-header {{ cloudflared_hostname | quote }} run --token {{ cloudflared_tunnel_token | quote }}
